footer.bg-dark.text-secondary.border-top.py-5
    .container
        .row
            .col-lg-4.offset-lg-4 
                p.fw-light.text-center.m-0 Copyright &copy; 2023 | #[span.fw-bold AECS Narwapahar]
            .col-lg-4
                p.fw-light.text-end.small.m-0 Made By #[span.fw-bold Dept. of CSE, AECS NWP]