.card.shadow-sm.rounded-0.my-3.my-lg-0
    .card-header 
        h5.text-uppercase.m-0 Sidebar
    .card-body
        p.lead Sidebar Content 
        p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit.